body {
  background-color:  #475B27;
  height: calc(100vh - 3rem);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F6F6F6;
  margin: 0;
}

input {
  border: 1px solid transparent;
  background-color: #334417;
  padding: 5px 10px;
  margin-right: 5px;
  outline: none;

  &:focus {
    border-color: #1c260c;
  }

  &::placeholder {
    color: #fff;
  }
}

button {
  border: 1px solid #3f5124;
  background-color: #52682E;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 5px 10px;
}